/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
    background: none repeat scroll 0 0 #0C2044;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
}

#content {
    position: relative ;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 1000px;
    margin-left: auto;
	margin-right: auto;
    padding-left: 15px;
    min-height: 300px;
}

#header {
    background: url("../img/header-bull.png") no-repeat scroll 580px -2px #0C2044;
    width: 985px;
    min-height: 115px;
}

#middle {
    background-color: white;
    width: 985px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
}

#footer {
    background-color: white;
    width: 985px;
    border-top: 1px solid #808080;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    color: #808080;
    font-size: 12px;
}

/* search */

#search-input {
    width:100%;
    position: relative;
    left:20px;
    top:20px;
    color:white;
    height:70px;

}

#search-input h1 {
    background:url("../img/logo.png") no-repeat scroll 0 15px transparent;
    float: left;
    width:140px;
    text-indent: -9999em;
    margin: 0;
    height: 50px;
}

#search-input-wrapper {
    position: relative;
    background: url("../img/search-bg.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    left: 140px;
}

#search-input-right {
    float: left;
    margin: 20px 10px 0 -35px;
    padding: 0 10px 0 0;
    background:url("../img/search-field-bg-r.png") no-repeat scroll 100% 0 transparent
}

#search-field {
    border: 0 none;
    color: #8F8F8F;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    height: 22px;
    letter-spacing: 0.02em;
    line-height: 22px;
    padding: 0;
    width: 200px;
    background: url("../img/search-field-bg.gif") repeat-x scroll 0 0 transparent;
}

#search-field:focus {
    color: #353535;
    font-style: normal;
    outline: none;
}

#search-submit {
    background: none repeat scroll 0 0 #DD013F;
    border: 1px solid #A22230;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    line-height: 1em;
    margin: 20px 0 0;
    padding: 2px 6px;
}


#header_add {
    font-size: 12px;
    width:100%;
    margin-left:20px;
    margin-top:16px;
    width: 870;
    color:white;
}

#header_add span {
    margin-left:10px;
}
