/**
 * Copyright (c) 2013 Salzburg Research
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div#header h1, div#center {
    width: auto; 
    min-height: 400px; 
    margin: 0; 
}

div#center {
    padding: 2em 30% 2em 30%;
}

div#center {
    float: none; 
    vertical-align: middle; 
    padding: 2em 30% 5em 30%;
}

div#center > * {
    margin-top: 2em;
    font-size: 1.6em;
}

div#center > p > a > img {
    vertical-align: text-top;
    margin-left: 0.15em;
}
